@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f0efed;
}

/**/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-fs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.row-sb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* FONTS */

@font-face {
    font-family: 'NeutralSans-Regular';
    src: url('../public/font/NeutralSans-Regular.otf');
}

@font-face {
    font-family: 'NeutralSans-Bold';
    src: url('../public/font/NeutralSans-Bold.otf');
}

@font-face {
    font-family: 'NeutralSans-Medium';
    src: url('../public/font/NeutralSans-Meidum.otf');
}

/* ASSETS */

.main-container{
    padding-top: 135px;
    height: max-content;
}

a{
    text-decoration: none;
    color: black;
}

.div-100{
    width: 100%;
}

.div-90{
    width: 90%;
}