/* FONTS */
.promo{
    color: white;
    font-family: 'NeutralSans-Bold';
}

/* CONTAINER */
.promo-main-container {
    width: 100%;
    height: 25px;
    background: red;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
}

.promo-track {
    display: flex;
    width: max-content;
    animation: promoScroll 20s linear infinite;
}

.promo-slider {
    display: flex;
}

.promo {
    width: 500px;
    white-space: nowrap;
    margin: 0 50px;
    font-size: 14px;
}

/* ANIMATION */
@keyframes promoScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}