/* FONTS */


/* CONTAINERS */

.footer-main-container {
    width: 100%;
    height: auto;
    background-color: red;
}

.footer-wrapper {
    height: 50vh;
    padding: calc(1vh + 1vw) 0px;
}


/* MEDIA QUERIES */