/* FONTS */

.navbar-main-container span{
    font-family: 'NeutralSans-Regular';
}

.sub-navbar-main-container a{
    font-family: 'NeutralSans-Regular';
    font-weight: 500;
    letter-spacing: 0.5px;
}


/* CONTAINER */
.navbar-main-container{
    width: 100%;
    height: 80px;
    position: fixed;
    top:25px
}

.navbar-container{
    width: 90%;
    height: inherit;
    margin: 0px 20px;
}

.donut-logo{
    width: 50px;
}

.profile-icon,.shopping-cart{
    width:40px;
    padding: 5px 5px;
    margin: 0px 5px;
}

.nav-icons{
    transition: background-color 0.3s ease-in-out;
}

.nav-icons:hover, .overlay-number:hover{
    border-radius: 5px;
    background-color: rgb(240, 219, 223);
    transition: background-color 0.3s ease-in-out;
}

.overlay-number{
    position: relative;
}

.cart-content-count{
    position: absolute;
    right: 5px;
}

.cart-content-count{
    text-align: center;
    width: auto;
    height: 15px;
    padding: 5px;
    border-radius: 100%;
    background-color: pink;
}

.sub-navbar-main-container{
    width: 100%;
    height: 40px;
    background-color: #d45080;
}

.subnav-max{
    display: flex;
    width: max-content;
}

.sub-navbar{
    width: clamp(300px, 100vw, 800px);
}

.sub-navlinks{
    margin: 0px 20px;
    color: #f0efed;
    transition: border-bottom 0.3s ease-in-out;
    padding: 5px 0px;
}

.sub-navlinks:hover{
    border-bottom: 1px solid #f0efed;
    transition: border-bottom 0.3s ease-in-out;
}

/*  */

@media screen and (max-width:890px) {
    .navbar-container{
        width: 820px;
        margin: 0px 25px;
    }
    .sub-navbar-main-container{
        display: flex;
        justify-content: flex-start;
    }
    .sub-navbar{
        display: flex;
        width: max-content;
        position: relative;
    }
    .subnav-max{
        position: relative;
        left: 25px;
    }
}