/* FONTS */

.navbar-main-container h3 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 500;
}

.navbar-main-container h4 {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

.menu-main-container h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    padding: calc(1vh + 1vw) 0px;
}

.back-btn-container p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}


/* CONTAINERS */

.navbar-main-container {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 5;
}

.navbar {
    height: 80px;
    padding: 15px 0px;
}

.main-logo {
    width: 80px;
    height: 80px;
    background-color: red;
}

.nav-links {
    width: auto;
    height: auto;
    gap: 50px;
}

.nav-icons-container {
    width: 200px;
    gap: 20px;
}

.main-logo {
    width: auto;
    height: 70px;
}

.nav-icon {
    width: 17px;
    height: 17px;
    margin: 0px 5px;
}

.menu-main-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateY(-100vh);
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(.51, .01, .06, .21), opacity 0.8s ease-in-out;
    transition-delay: 0.2s;
}

.menu-main-container.active {
    transform: translateY(0vh);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(.51, .01, .06, .21), opacity 0.8s ease-in-out;
}

.menu-main-container.inactive {
    transform: translateY(-100vh);
    transition: transform 0.4s cubic-bezier(.51, .01, .06, .21), opacity 0.4s ease-in-out;
}

.menu-container {
    width: 100%;
    height: 70vh;
}

.back-btn-container {
    padding: 6vh 0px;
    text-align: end;
}

.nav-icons-container .menu {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width:1430px) {
    .navbar {
        width: 90%;
    }
}

@media screen and (max-width:900px) {
    .nav-icons-container {
        width: auto;
    }

    .nav-icons-container h4 {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .nav-icons-container {
        gap: 15px;
    }

    .nav-icon {
        width: 25px;
        height: 25px;
        margin: 2px;
    }

    .nav-links {
        display: none;
    }

    .nav-icons-container .menu {
        display: flex;
    }
}